<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>妈妈网</title>
	<meta name="keywords" content="妈妈网" />
	<meta name="description" content="妈妈网" />
	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" href="css/article.css" />
	<link rel="shortcut icon" href="favicon.ico"/>
</head>
<body>
	<!--nav--start-->
	<div class="nav nav-fixed clearfix">
		<div class="w">
			<div class="nav-menu ">
           		<ul class='fl'>
           			<li><a href="#" target="_blank">怀孕计算器</a></li>
                    <li><a href="#" target="_blank">视频学习</a></li>
                    <li><a href="#" target="_blank">备孕</a></li>
                    <li><a href="#" target="_blank">怀孕</a></li>
                    <li><a href="#" target="_blank">坐月子</a></li>
                    <li><a href="#" target="_blank">产后</a></li>
                    <li><a href="#" target="_blank">宝宝起名</a></li>
                    <li><a href="#" target="_blank">问答</a></li>  
                    <li><a href="#" target="_blank">宝宝相册</a></li>
                    <li><a href="#" target="_blank">专题</a></li>
                </ul>
				<ul class='fr'>
					<li class='login'><a href="#" target="_blank">登录</a></li>
                </ul>
           </div>
		</div>
	</div>
	<!--nav--end-->
	<div class='middlebar'>
		<div class='w'>
			<div class='middlebar-l fl'>
				<a href='#' target="_blank"><img src='images/logo-toutiao.png' alt=''></a>
			</div>
			<div class='middlebar-m fl'>
				<ul>
					<li><h2><a href='' target="_blank">首页</a>/</h2></li>
					<li><h2><a href='' target="_blank">育儿</a>/</h2></li>
					<li><h2><a href='' target="_blank">正文</a></h2></li>
				</ul>
			</div>
			<div class='middlebar-r fr'>
			    <div class="search-input">
            <!--placeholder="运动相机"-->
					<input type="text" value="运动相机"/>
					<button>搜索</button>
				</div>
			</div>
		</div>
	</div>
	<!--content-start-->
	<div class='w clearfix'>
			<div class='content-l fl'>
				<div class='share'>
					<a href='' target="_blank"><img src='images/qq.png' alt=''>QQ</a>
					<a href='' target="_blank"><img src='images/qqkongjian.png' alt=''>Qzone</a>
					<a href='' target="_blank"><img src='images/xinliang.png' alt=''>微博</a>
					<a href='' target="_blank"><img src='images/weixin.png' alt=''>微信</a>
				</div>
			</div>
			<div class='content-m fl'>
				<h1>起底贪官们的“深夜食堂”</h1>
				<h2>
					<span class='original'>原创</span>
					<span class='src'>观海解局</span>
					<span class='time'>2017-06-17 22:20</span>
				</h2>
				<div class='content-m-c'>
						(法制晚报记者 岳三猛)目前，以国内著名演员黄磊为主演的电视剧《深夜食堂》正在播出。因为豆瓣网友极低的评分，该剧热议不断。<br/>
						法晚·观海解局(微信ID：guanhaijieju)记者认为，如果说饭桌能够折射人生百态，那么贪官们的“深夜食堂”则是躲在私人会所或者隐秘单位食堂里推杯换盏，吃着燕窝鱼翅，喝着年份茅台，挥霍的不仅是公款，还有权钱交易的勾当，以及被不法商人作局围猎的可能。<br/>
						至于肆意妄为的下场，万庆良、杨卫泽、周本顺等相继获刑的大老虎，就是最好的注解。<br/>
						起底贪官们的“深夜食堂”<br/>
						<img src='images/shitang.jpg' alt=''><br/>
						(中纪委专题片截图)<br/>
						法晚·观海解局(微信ID：guanhaijieju)梳理发现，从地点上看，贪官们的“深夜食堂”主要有私人会所和隐秘单位餐厅两类。<br/>
						“小姑娘(服务人员)反映说，那个大官经常来，他每次来我们都很反感，每次来都让我们下班很晚。”在反腐专题片《永远在路上》第二集里，中纪委工作人员如是描述广州市委原书记万庆良引发的不满。<br/>
						原来，这名原副省级高官在全党严抓作风的高压态势下，仍然出入高档消费场所达到70次左右。此人在最大的包间活动：有一个很大的木屏风，两张餐台可供20个人左右吃饭，配备了高档音响和灯光设备，可以唱卡拉ok、跳舞。<br/>
						对于如何甄别高危饭局，《中国纪检监察报》曾建议干部出门前问自己5个问题：<br/>
						第一，在哪吃，不对外经营的私人会所肯定不行，求你办事的私人老板家中设宴也不要去。<br/>
						第二，跟谁吃，有可能会影响公正执行公务的宴请不能参加，有管理服务对象参加可不行。<br/>
						第三，吃什么，一般大众消费是没问题，如果享受豪华餐饮、奢侈浪费，也是不对的。<br/>
						第四，谁买单，公款不行，企业老板买单也容易出问题。<br/>
						第五，考虑会不会有不良影响，比如虽然是正常吃饭，但是会不会豪饮烂醉，酒后滋事？有没有可能酒后驾车、打牌赌博？
						
				</div>
				<div class='shengming'><h3>声明：本文由入驻搜狐公众平台的作者撰写，除搜狐官方账号外，观点仅代表作者本人，不代表搜狐立场。</h3></div>
				<div class='guanggao'>广告</div>
				<div class="c-header"> <em>694&nbsp;</em>条评论 </div>
				<div class="inputBox"> 
						<div class="y-box"> 
							<div class="avatar-wrap avatar-wrap-center">  </div> 
							<div class="input-wrap  "> 
								<div class="c-textarea" ga_event="click_input_comment">
									<textarea name="inputText" placeholder="写下您的评论..."></textarea> 
								</div> 
								<div class="c-action" ga_event="click_publish_comment"> 
									<div class="c-submit">评论</div> 
								</div> 
							</div> 
						</div>
						<ul>
							<li class="c-item"> 
								<a target="_blank" class="avatar-wrap" href=""> 
									<img alt="" src="" >
								</a> 
								<div class="c-content"> 
									<div class="c-user-info"> 
										<a class="c-user-name" target="_blank" href="">yang26600368</a>
										<span class="c-create-time">6小时前</span>
									</div>
									<p>古人云！一人不旅游！二人不看井！三人不挑水！记住！</p> 
									<div class="c-footer-action"> 
										<span class="c-reply" ga_event="click_reply_comment">回复</span> 
										<span class="c-reply-count" ga_event="click_expand_reply">&nbsp;⋅&nbsp;28条回复<i class="y-icon icon-more"></i></span> 
										<span class="y-right c-report" title="举报">
											<i class="y-icon icon-report"></i>
										</span> 
										<span title="点赞" class="y-right c-digg ">141&nbsp;<i class="y-icon icon-digg"></i></span>	
									</div> 
									<div class="J_input_0"></div> <!--riot placeholder-->  
								</div> 
							</li>
							<li class="c-item"> 
								<a target="_blank" class="avatar-wrap" href=""> 
									<img alt="" src="" >
								</a> 
								<div class="c-content"> 
									<div class="c-user-info"> 
										<a class="c-user-name" target="_blank" href="">yang26600368</a>
										<span class="c-create-time">6小时前</span>
									</div>
									<p>古人云！一人不旅游！二人不看井！三人不挑水！记住！</p> 
									<div class="c-footer-action"> 
										<span class="c-reply" >回复</span> 
										<span class="c-reply-count" >&nbsp;⋅&nbsp;28条回复<i class="y-icon icon-more"></i></span> 
										<span class="y-right c-report" title="举报">
											<i class="y-icon icon-report"></i>
										</span> 
										<span title="点赞"  class="y-right c-digg ">141&nbsp;<i class="y-icon icon-digg"></i></span>	
									</div> 
									<div class="J_input_0"></div> <!--riot placeholder-->  
								</div> 
							</li>
							<li class="c-item"> 
								<a target="_blank" class="avatar-wrap" href=""> 
									<img alt="" src="" alt=''>
								</a> 
								<div class="c-content"> 
									<div class="c-user-info"> 
										<a class="c-user-name" target="_blank" href="">yang26600368</a>
										<span class="c-create-time">6小时前</span>
									</div>
									<p>古人云！一人不旅游！二人不看井！三人不挑水！记住！</p> 
									<div class="c-footer-action"> 
										<span class="c-reply" >回复</span> 
										<span class="c-reply-count" >&nbsp;⋅&nbsp;28条回复<i class="y-icon icon-more"></i></span> 
										<span class="y-right c-report" title="举报">
											<i class="y-icon icon-report"></i>
										</span> 
										<span title="点赞"  class="y-right c-digg ">141&nbsp;<i class="y-icon icon-digg"></i></span>	
									</div> 
									<div class="J_input_0"></div> <!--riot placeholder-->  
								</div> 
							</li>
						<ul>
						<div class="c-load-more">查看更多评论</div>
				</div>
			</div>
			<div class='content-r fr'>
				<div class='content-hot content-ad'>
					广告---Ad
				</div>	
			</div>	
			<div class='content-r fr'>
				<div class='content-hot'>
					<span class="tt">24小时热文</span>
				</div>		
				<div class="pic-txt clear " >
					<div class="pic img-do">
						<a target="_blank" href="">
							<img alt="" src="images/xiaohai.png">
						</a>
					</div>
					<h2>
						<a target="_blank" href="">看到新生儿口中露出的东西，医生吓了一跳!</a>
					</h2>
				</div>
				<div class="pic-txt clear " >
					<div class="pic img-do">
						<a target="_blank" href="">
							<img alt="" src="images/poxi.jpg" >
						</a>
					</div>
					<h2>
						<a target="_blank" href="">看到新生儿口中露出的东西，医生吓了一跳!</a>
					</h2>
				</div>
				<div class="pic-txt clear " >
					<div class="pic img-do">
						<a target="_blank" href="">
							<img alt="" src="images/yunfu.jpg" >
						</a>
					</div>
					<h2>
						<a target="_blank" href="">看到新生儿口中露出的东西，医生吓了一跳!</a>
					</h2>
				</div>
				<div class="pic-txt clear " >
					<div class="pic img-do">
						<a target="_blank" href="">
							<img alt="" src="images/shiyan.jpeg" >
						</a>
					</div>
					<h2>
						<a target="_blank" href="">看到新生儿口中露出的东西，医生吓了一跳!</a>
					</h2>
				</div>
				<div class="pic-txt clear " >
					<div class="pic img-do">
						<a target="_blank" href="">
							<img alt="" src="images/renren.jpeg" >
						</a>
					</div>
					<h2>
						<a target="_blank" href="">看到新生儿口中露出的东西，医生吓了一跳!</a>
					</h2>
				</div>
			</div>
			<div class='content-r fr'>
				<div class='content-hot content-ad'>
					广告---Ad
				</div>	
			</div>	
			<div class='content-r fr'>
				<div class='content-hot'>
					<span class="tt">24小时热文</span>
				</div>	
			</div>
	    </div>
	<!--content-end-->
	<!--footer部分start-->
	<div class="footer">
        <div class="w footer-bottom">
            <div class="footer-bottom-links"> 
                <a href="#" target="_blank">关于我们</a>|
                <a href="#" target="_blank">联系我们</a>|
                <a href="#" target="_blank">联系客服</a>|
                <a href="#" target="_blank">商家入驻</a>|
                <a href="#" target="_blank">营销中心</a>|
                <a href="#" target="_blank">友情链接</a>
            </div>
            <div class="footer-bottom-copyright">
                <img src="images/guohui.png"/>京公网安备 11000002000088号  |  京ICP证070359号  |  互联网药品信息服务资格证编号(京)-经营性-2014-0008  |  新出发京零 字第大120007号<br>
                互联网出版许可证编号新出网证(京)字150号  |  出版物经营许可证  |  网络文化经营许可证京网文[2014]2148-348号  |  违法和不良信息举报电话：4006561155<br>
                Copyright © 2004 - 2016 妈妈网 版权所有  |  消费者维权热线：4006067733<br>
                妈妈网旗下网站：妈妈教育
            </div>
            <div class="footer-bottom-img">
                <a href="#" target="_blank"><img src="images/img1.jpg" alt=''/></a>
                <a href="#" target="_blank"><img src="images/img1.jpg" alt=''/></a>
                <a href="#" target="_blank"><img src="images/img1.jpg" alt=''/></a>
                <a href="#" target="_blank"><img src="images/img1.jpg" alt=''/></a>
                <a href="#" target="_blank"><img src="images/img1.jpg" alt=''/></a>
                <a href="#" target="_blank"><img src="images/img1.jpg" alt=''/></a>
            </div>
        </div>
    </div>
	<!--footer部分end-->
</body>
</html>