<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>妈妈网</title>
	<meta name="keywords" content="妈妈网" />
	<meta name="description" content="妈妈网" />
	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" href="css/list.css" />
	<link rel="shortcut icon" href="favicon.ico"/>
</head>
<body>

		<!--nav--start-->
		<div class="nav nav-fixed clearfix">
		<div class="w">
			<div class="nav-menu ">
           		<ul class='fl'>
           			<li><a href="#" target="_blank">怀孕计算器</a></li>
                    <li><a href="#" target="_blank">视频学习</a></li>
                    <li><a href="#" target="_blank">备孕</a></li>
                    <li><a href="#" target="_blank">怀孕</a></li>
                    <li><a href="#" target="_blank">坐月子</a></li>
                    <li><a href="#" target="_blank">产后</a></li>
                    <li><a href="#" target="_blank">宝宝起名</a></li>
                    <li><a href="#" target="_blank">问答</a></li>  
                    <li><a href="#" target="_blank">宝宝相册</a></li>
                    <li><a href="#" target="_blank">专题</a></li>
				
                </ul>
				<ul class='fr'>
					<li class='login'><a href="#" target="_blank">登录</a></li>
                </ul>
           </div>
		</div>
	</div>
		<!--nav--end-->
		<!--content-start-->
		<div class='w content clearfix'>
			<div class='top-content'><h1><strong>性生活</strong></h1></div>
			<div class='content-l fl'>
				<div class='share'>
					<h2><strong>热点直达</strong></h2>
				</div>
				<ul>
					<li><a href="" target="_blank">智力发育</a></li>
					<li><a href="" target="_blank">新生儿</a></li>
					<li><a href="" target="_blank">辅食</a></li>
					<li><a href="" target="_blank">孕早期</a></li>
					<li><a href="" target="_blank">父母课堂</a></li>
					<li><a href="" target="_blank">母乳喂养</a></li>
					<li><a href="" target="_blank">婆媳</a></li>
					<li><a href="" target="_blank">月子</a></li>
					<li><a href="" target="_blank">幼儿园</a></li>
					<li><a href="" target="_blank">催乳</a></li>
					<li><a href="" target="_blank">挑食</a></li>
					<li><a href="" target="_blank">卵巢</a></li>
				</ul>
			</div>
			<!--文章列表中部-->
			<div class='content-m fl'>
				<div class='banner'>
					<a href='' target="_blank"><img src='images/banner1.jpg'  alt=''></a>
				</div>
				
				<div class='news-list clearfix'>
					<div class="news-box" >
						<div class="pic img-do fl">
							<a href="" target="_blank">
								<img src="images/list-img.jpg" alt="">                    
							</a>
						</div>
						<h2><strong><a href="" target="_blank">给丈夫安装GPS？除了监控，孕妇四招防止丈夫出轨孕妇四招防止丈夫出轨</a></strong></h2>
						<div class="other">
							<span class="img"><a href="" target="_blank"><img src="images/touxiang.jpg" alt=""></a></span>
							<span class="channel"><a href=""  target="_blank" ></a></span>
							<span class="name"><a href="" target="_blank">小红姐的产房故事</a></span><span class="dot">·</span>
							<span class="time" >今天 13:22</span>
							
						</div>
					</div>
				</div>
				<div class='news-list clearfix'>
					<div class="news-box" >
						<div class="pic img-do fl">
							<a href="" target="_blank">
								<img src="images/150718125_450_300_0.jpeg" alt="">                    
							</a>
						</div>
						<h2><strong><a href="" target="_blank">给丈夫安装GPS？除了监控，孕妇四招防止丈夫出轨孕妇四招防止丈夫出轨</a></strong></h2>
						<div class="other">
							<span class="img"><a href="" target="_blank"><img src="images/touxiang.jpg" alt=""></a></span>
							<span class="channel"><a href=""  target="_blank" ></a></span>
							<span class="name"><a href="" target="_blank">小红姐的产房故事</a></span><span class="dot">·</span>
							<span class="time" >今天 13:22</span>
							
						</div>
					</div>
				</div>
				<div class='news-list clearfix'>
					<div class="news-box" >
						<div class="pic img-do fl">
							<a href="" target="_blank">
								<img src="images/1a6d001e8358d8c0381c.jpg" alt="">                    
							</a>
						</div>
						<h2><strong><a href="" target="_blank">给丈夫安装GPS？除了监控，孕妇四招防止丈夫出轨孕妇四招防止丈夫出轨</a></strong></h2>
						<div class="other">
							<span class="img"><a href="" target="_blank"><img src="images/touxiang.jpg" alt=""></a></span>
							<span class="channel"><a href=""  target="_blank" ></a></span>
							<span class="name"><a href="" target="_blank">小红姐的产房故事</a></span><span class="dot">·</span>
							<span class="time" >今天 13:22</span>
							
						</div>
					</div>
				</div>
				<div class='news-list clearfix'>
					<div class="news-box" >
						<div class="pic img-do fl">
							<a href="" target="_blank">
								<img src="images/28b1000ee2bb2aadaac0.jpg" alt="">                    
							</a>
						</div>
						<h2><strong><a href="" target="_blank">给丈夫安装GPS？除了监控，孕妇四招防止丈夫出轨孕妇四招防止丈夫出轨</a></strong></h2>
						<div class="other">
							<span class="img"><a href="" target="_blank"><img src="images/touxiang.jpg" alt=""></a></span>
							<span class="channel"><a href=""  target="_blank" ></a></span>
							<span class="name"><a href="" target="_blank">小红姐的产房故事</a></span><span class="dot">·</span>
							<span class="time" >今天 13:22</span>
							
						</div>
					</div>
				</div>
			<div class='news-list clearfix'>
					<div class="news-box" >
						<div class="pic img-do fl">
							<a href="" target="_blank">
								<img src="images/list-img.jpg" alt="">                    
							</a>
						</div>
						<h2><strong><a href="" target="_blank">给丈夫安装GPS？除了监控，孕妇四招防止丈夫出轨孕妇四招防止丈夫出轨</a></strong></h2>
						<div class="other">
							<span class="img"><a href="" target="_blank"><img src="images/touxiang.jpg" alt=""></a></span>
							<span class="channel"><a href=""  target="_blank" ></a></span>
							<span class="name"><a href="" target="_blank">小红姐的产房故事</a></span><span class="dot">·</span>
							<span class="time" >今天 13:22</span>
							
						</div>
					</div>
				</div>
				<div class='news-list clearfix'>
					<div class="news-box" >
						<div class="pic img-do fl">
							<a href="" target="_blank">
								<img src="images/150718125_450_300_0.jpeg" alt="">                    
							</a>
						</div>
						<h2><strong><a href="" target="_blank">给丈夫安装GPS？除了监控，孕妇四招防止丈夫出轨孕妇四招防止丈夫出轨</a></strong></h2>
						<div class="other">
							<span class="img"><a href="" target="_blank"><img src="images/touxiang.jpg" alt=""></a></span>
							<span class="channel"><a href=""  target="_blank" ></a></span>
							<span class="name"><a href="" target="_blank">小红姐的产房故事</a></span><span class="dot">·</span>
							<span class="time" >今天 13:22</span>
							
						</div>
					</div>
				</div>
				<div class='news-list clearfix'>
					<div class="news-box" >
						<div class="pic img-do fl">
							<a href="" target="_blank">
								<img src="images/1a6d001e8358d8c0381c.jpg" alt="">                    
							</a>
						</div>
					<h2><strong><a href="" target="_blank">给丈夫安装GPS？除了监控，孕妇四招防止丈夫出轨孕妇四招防止丈夫出轨</a></strong></h2>
						<div class="other">
							<span class="img"><a href="" target="_blank"><img src="images/touxiang.jpg" alt=""></a></span>
							<span class="channel"><a href=""  target="_blank" ></a></span>
							<span class="name"><a href="" target="_blank">小红姐的产房故事</a></span><span class="dot">·</span>
							<span class="time" >今天 13:22</span>
							
						</div>
					</div>
				</div>
				<div class='news-list clearfix'>
					<div class="news-box" >
						<div class="pic img-do fl">
							<a href="" target="_blank">
								<img src="images/28b1000ee2bb2aadaac0.jpg" alt="">                    
							</a>
						</div>
						<h2><strong><a href="" target="_blank">给丈夫安装GPS？除了监控，孕妇四招防止丈夫出轨孕妇四招防止丈夫出轨</a></strong></h2>
						<div class="other">
							<span class="img"><a href="" target="_blank"><img src="images/touxiang.jpg" alt=""></a></span>
							<span class="channel"><a href=""  target="_blank" ></a></span>
							<span class="name"><a href="" target="_blank">小红姐的产房故事</a></span><span class="dot">·</span>
							<span class="time" >今天 13:22</span>
							
						</div>
					</div>
				</div>
			
			</div>
			<!--文章右边-->
		 	<div class='content-r fr'>
				<div class='content-hot content-ad'>
					广告---Ad
				</div>	
			</div>	 
			<div class='content-r fr'>
				
				<div class='content-hot'>
					<span class="tt">24小时热文</span>
				</div>		
				<div class="pic-txt clear " >
					<div class="pic img-do">
						<a target="_blank" href="">
							<img alt="" src="images/xiaohai.png">
						</a>
					</div>
					<h2>
						<a target="_blank" href="">看到新生儿口中露出的东西，医生吓了一跳!</a>
					</h2>
				</div>
				<div class="pic-txt clear " >
					<div class="pic img-do">
						<a target="_blank" href="">
							<img alt="" src="images/poxi.jpg">
						</a>
					</div>
					<h2>
						<a target="_blank" href="">看到新生儿口中露出的东西，医生吓了一跳!</a>
					</h2>
				</div>
				<div class="pic-txt clear " >
					<div class="pic img-do">
						<a target="_blank" href="">
							<img alt="" src="images/yunfu.jpg">
						</a>
					</div>
					<h2>
						<a target="_blank" href="">看到新生儿口中露出的东西，医生吓了一跳!</a>
					</h2>
				</div>
				<div class="pic-txt clear " >
					<div class="pic img-do">
						<a target="_blank" href="">
							<img alt="" src="images/shiyan.jpeg">
						</a>
					</div>
					<h2>
						<a target="_blank" href="">看到新生儿口中露出的东西，医生吓了一跳!</a>
					</h2>
				</div>
				<div class="pic-txt clear " >
					<div class="pic img-do">
						<a target="_blank" href="">
							<img alt="" src="images/renren.jpeg">
						</a>
					</div>
					<h2>
						<a target="_blank" href="">看到新生儿口中露出的东西，医生吓了一跳!</a>
					</h2>
				</div>
			</div>
			<div class='content-r fr'>
				<div class='content-hot content-ad'>
					广告---Ad
				</div>	
			</div>	
			<div class='content-r fr'>
				<div class='content-hot'>
					<span class="tt">24小时热文</span>
				</div>	
			</div>
	    </div>
		</div>
		<!--content-end-->

	  <!--footer部分start-->
	<div class="footer">
        <div class="w footer-bottom">
            <div class="footer-bottom-links">
                <a href="#" target="_blank">关于我们</a>|
                <a href="#" target="_blank">联系我们</a>|
                <a href="#" target="_blank">联系客服</a>|
                <a href="#" target="_blank">商家入驻</a>|
                <a href="#" target="_blank">营销中心</a>|
                <a href="#" target="_blank">友情链接</a>
            </div>
            <div class="footer-bottom-copyright">
                <img src="images/guohui.png"/>京公网安备 11000002000088号  |  京ICP证070359号  |  互联网药品信息服务资格证编号(京)-经营性-2014-0008  |  新出发京零 字第大120007号<br>
                互联网出版许可证编号新出网证(京)字150号  |  出版物经营许可证  |  网络文化经营许可证京网文[2014]2148-348号  |  违法和不良信息举报电话：4006561155<br>
                Copyright © 2004 - 2016 妈妈网 版权所有  |  消费者维权热线：4006067733<br>
                妈妈网旗下网站：妈妈教育
            </div>
            <div class="footer-bottom-img">
                <a href="#" target="_blank"><img src="images/img1.jpg"  alt=''/></a>
                <a href="#" target="_blank"><img src="images/img1.jpg"  alt=''/></a>
                <a href="#" target="_blank"><img src="images/img1.jpg"  alt=''/></a>
                <a href="#" target="_blank"><img src="images/img1.jpg"  alt=''/></a>
                <a href="#" target="_blank"><img src="images/img1.jpg"  alt=''/></a>
                <a href="#" target="_blank"><img src="images/img1.jpg"  alt=''/></a>
            </div>
        </div>
    </div>
	<!--footer部分end-->
</body>
</html>