<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../css/aboutOurs.css?v={{Config::get('app.version')}}">
<link rel="stylesheet" type="text/css" href="../css/common.css?v={{Config::get('app.version')}}">
<title>房源发布相关</title>

</head>

<body>
<script src="../js/header3.js?v={{Config::get('app.version')}}"></script>
<div class="about">
  <div class="about_l">
    <ul>
      <li class="click">常用问题分类</li>
      <li>
        <a class="a">用户手册</a><i></i> 
        <dl>
          <dd><a href="userLogin.htm">注册与登录</a></dd>
          <dd><a href="userPerm.htm">注册用户权限</a></dd>
          <dd><a href="userSecond.htm">查找二手房源</a></dd>
          <dd><a href="userEstate.htm">通过小区查找二手房源</a></dd>
          <dd><a href="userTool.htm">如何使用购房工具</a></dd>
        </dl> 
      </li>
      <li class="onclick">
        <a class="a">经纪人手册</a><i></i>
        <dl>
          <dd><a href="brokerManual.htm">注册与登录</a></dd>
          <dd><a href="houseRelease.htm" class="check">房源发布相关</a></dd>
        </dl> 
      </li>
      <li>
        <a class="a" href="safaNum.htm">安全号码</a><i></i>
      </li>
    </ul>
  </div>
  <div class="about_r">
    <h2 class="route">经纪人手册&nbsp;&nbsp;>&nbsp;&nbsp;房源发布相关</h2>
    <p class="why">如何发布出售房源？（已出售为例）</p>
    <p class="title">若您还没有发布出售房源，发布房源详细操作步骤如下:</p>
    <p class="title color2d">1、进入经纪人管理中心中“存量房源库”选择“录入出售房源”</p>
    <div class="img"><img src="img/1.jpg"></div>
    <p class="title color2d margin">2、选择所属楼盘，如果没有相应楼盘选择“其他”并对应符合的物业类型，区域，设置标题，点击“开始创建”</p>
    <div class="img"><img src="img/2.jpg"></div>
    <p class="title color2d margin">3、填写“基础信息”，“补充信息”和“上传图片”，点击“保存到待发布”</p>
    <div class="img"><img src="img/3.jpg"></div>
    <p class="title color2d margin">4、点击“管理出售房源”进入管理页面，在待发布页面找到刚存入的房源，点击“发布”，出售房源的发布完成</p>
    <div class="img"><img src="img/4.jpg"></div>
    <p class="title color2d margin">5、在已发布标签中进行查看，管理</p>
    <div class="img"><img src="img/4.jpg"></div>
  </div>
</div>
<script src="../js/footer.js?v={{Config::get('app.version')}}"></script>
<script src="../js/jquery1.11.3.min.js?v={{Config::get('app.version')}}"></script>
<script src="../js/PageEffects/headNav.js?v={{Config::get('app.version')}}"></script>
</body>
</html>
